<ng-container class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-shrink navbar-dark"
       [class.mybg-dark]="!isTopOfPage">

    <div id="main">
      <button class="openNav"><span class="fa fa-bars"></span></button>
    </div>

    <div id="mySidenav" class="sidenav">
      <button class="closebtn">×</button>
      <ul class="mob-ul">
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="/startseite"
             routerLinkActive="router-link-active">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="/spiel"
             routerLinkActive="router-link-active">Das Spiel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="/event"
             routerLinkActive="router-link-active">Programm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="/sponsoren"
             routerLinkActive="router-link-active">Sponsoren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="/media"
             routerLinkActive="router-link-active">Medien</a>
        </li>
      </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbarResponsive" #navbarResponsive>
      <ul class="navbar-nav mr-auto">
        <li class="nav-link">
          <a routerLink="/startseite" (click)="hideMenu()"
             routerLinkActive="router-link-active">Startseite</a>
        </li>
        <li class="nav-link">
          <a routerLink="/spiel" (click)="hideMenu()"
             routerLinkActive="router-link-active">Das Spiel</a>
        </li>
        <li class="nav-link">
          <a routerLink="/event" (click)="hideMenu()"
             routerLinkActive="router-link-active">Programm</a>
        </li>
        <li class="nav-link">
          <a routerLink="/sponsoren" (click)="hideMenu()"
             routerLinkActive="router-link-active">Sponsoren</a>
        </li>
        <li class="nav-link">
          <a routerLink="/media" (click)="hideMenu()"
             routerLinkActive="router-link-active">Medien</a>
        </li>
       
      </ul>

    </div>

    <button class="navbar-toggler navbar-toggler-left" style="margin-top: 1rem;"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="fa fa-bars mfa-white"></span>
    </button>
  </nav>
</ng-container>

