<section id="gold-sponsors" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1 mt-2">
        <h3><i class="fa fa-thumbs-o-up"></i> Mit freundlicher Unterstützung von</h3>

        <ul style="border-radius: 15px !important;">
          <li (click)="setCurrentSponsor(0)" [ngClass]="currentSponsor === 0 ? 'active' : ''">
            <div class="section-title">
              <h2>Peter Gross Bau</h2>
            </div>
            <div class="section-content">
              <div class="text-center">
                <img class="img-fluid" src="../../../assets/images/sponsoren/PG_Logo.png" alt="Peter Gross Bau"/>
                <p class="text-justify mt-5 pt-3">
                  Peter Gross Bau – das ist umfassende Baukompetenz, Zuverlässigkeit und Innovationsstärke unter einem
                  Dach. Seit mehr als 130 Jahren ist unser Familienunternehmen eine feste Größe in der Baubranche. Wir
                  sind Spezialisten in allen Sparten des Hoch- und Tiefbaus und sämtlichen weiteren Bereichen der
                  Bauwelt.
                  Der gesamte Unternehmensverbund der Baugruppe Gross umfasst heute bereits rund 1.200 Mitarbeiter.
                </p>
                <a class="btn btn-primary pull-right" target="_blank" href="https://gross-bau.de">Zur Homepage</a>
              </div>
            </div>
          </li>
          <li (click)="setCurrentSponsor(1)" [ngClass]="currentSponsor === 1 ? 'active' : ''">
            <div class="section-title">
              <h2>Volkswagen Autohaus Schmidt</h2>
            </div>
            <div class="section-content">
              <div class="text-center">
                <img class="img-fluid" src="../../../assets/images/sponsoren/Schmidt_GmbH_Logo.png"
                     alt="Volkswagen Autohaus Schmidt"/>
                <p class="text-justify mt-5 pt-3">
                  Seit dem 1. Januar 2019 ist Volkswagen neuer offizieller Mobilitätspartner des Deutschen
                  Fußball-Bundes
                  (DFB), der Deutschen Nationalmannschaften und aller 21 Landesverbände. Neben der Partnerschaft mit der
                  UEFA und besonders mit der kommenden EURO 2020 dreht sich bei Volkswagen nun noch mehr um den Fußball.
                  <br/>
                  Das Autohaus Schmidt ist Ihr Volkswagen Neuwagen und Service-Partner in St. Wendel.
                </p>
                <a class="btn btn-primary pull-right" target="_blank" href="https://www.autohaus-schmidt-wnd.de">
                  Zur Homepage
                </a>
              </div>
            </div>
          </li>
          <li (click)="setCurrentSponsor(2)" [ngClass]="currentSponsor === 2 ? 'active' : ''">
            <div class="section-title">
              <h2>Reisemobile Dörr</h2>
            </div>
            <div class="section-content">
              <div class="text-center">
                <img class="img-fluid" src="../../../assets/images/sponsoren/Doerr.png" alt="Reisemobile Dörr"/>
                <p class="text-justify mt-5 pt-3">
                  Seit über 20 Jahren sind wir bekannt als die Spezialisten für Reisemobile in der Saar-Pfalz-Region und
                  weit darüber hinaus. Wir verkaufen Reisemobile und Caravans von rund 20 Marken und halten viele sehr
                  unterschiedliche Modellvarianten für Sie bereit. Allein am Vertriebszentrum Bliesen sind auf 28.000
                  Quadratmetern Ausstellungsfläche ganzjährig 800 Fahrzeuge verfügbar. Auch in unseren Filialen können
                  Sie
                  viele Fahrzeuge besichtigen.</p>
                <a class="btn btn-primary pull-right" target="_blank" href="http://reisemobile-doerr.de">Zur
                  Homepage</a>
              </div>
            </div>
          </li>
        </ul>

        <!--<div class="container">

        https://codepen.io/nevernotsean/pen/YpmWoM


          <div class="slider-containers">

            <div class="slider-container">
              <h2>Effect #1</h2>
              <div class="flexbox-slider flexbox-slider-1">
                <div class="flexbox-slide">
                  <img src="../../../assets/images/sponsoren/Doerr.png" alt="Bosch Car Service + Reisemobile Dörr GmbH">
                  <div class="text-block">
                    <h3>Bosch Car Service + Reisemobile Dörr GmbH</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #2 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #3 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-4.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #4 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-9.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #5 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-container">
              <h2>Effect #2</h2>
              <div class="flexbox-slider flexbox-slider-2">
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-1.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #1 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #2 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #3 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-4.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #4 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-9.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #5 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-container">
              <h2>Effect #3</h2>
              <div class="flexbox-slider flexbox-slider-3">
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-1.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #1 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #2 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #3 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-4.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #4 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-9.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #5 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-container">
              <h2>Effect #4</h2>
              <div class="flexbox-slider flexbox-slider-4">
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-1.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #1 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #2 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #3 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-4.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #4 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-9.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #5 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-container">
              <h2>Effect #5</h2>
              <div class="flexbox-slider flexbox-slider-5">
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-1.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #1 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #2 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #3 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-4.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #4 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
                <div class="flexbox-slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-9.jpg" alt="Slide Image">
                  <div class="text-block">
                    <h3>Slide #5 is here</h3>
                    <div class="text">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

          <div class="panelHolder active">
            <div class="contentHolder">
              <img alt="" src="../../../assets/images/sponsoren/dfb-fussballde.jpg" class="tab">
              <a href="#"><img alt="" src="../../../assets/images/sponsoren/Doerr.png" class="model">
              </a>
            </div>
          </div>
        -->
      </div>
    </div>
  </div>
</section>
