.overlay {
  position: absolute;
  width: 75%;
  height: 100vh;
  border-top-right-radius: 10% 80%;
  border-bottom-right-radius: 10% 80%;
}

@media screen and (min-width: 480px) {
  .overlay {
    background: linear-gradient(to bottom, #032a79 0, #032a79 33%, #032a79 33%, #0068c1 66%, #0068c1 66%, #0068c1 100%);
  }
}

header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c0c0c0;
}

h1.my-heading {
  color: #ff8939;
  opacity: .64;
  font-weight: bolder;
  letter-spacing: -.13rem;
  font-size: 3.21rem;
  line-height: 3.44rem;
  margin: 1.72rem 0 1.72rem 0;
}

small {
  color: #ff8939;
  letter-spacing: .02rem;
  font-weight: 500;
  font-size: .857rem;
  line-height: 1.72rem;
}

p.myp-slider.text-center {
  color: #fff;
}

p.myp.text-center {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3rem;
}

.floating-arrow {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 520px) {
  ::placeholder {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  header h3 {
    font-size: 4rem;
  }
}

.headerLogo {
  position: absolute;
  width: 20vw;
  right: 20vw;
  top: 60vh;
}

a {
  border-bottom: 0;
}

.sponsorsImg {
  max-height: 5vh;
  max-width: 40vw;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
