<header class="text-white">
  <div class="overlay"></div>
  <div class="container-fluid">

    <div class="vertical-center" style="margin-top: -10vh; margin-left: 1.8rem">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
          <h1 class="my-heading text-left">Fußballfieber
            <small class="hidden-xs hidden-sm">Vom 29.05. bis 05.06.2019</small>
          </h1>
          <span class="hidden-md hidden-lg hidden-xl" style="color: #ff8939">Vom 29.05. bis 05.06.2019</span>
          <p class="myp-slider text-uppercase hidden-xs hidden-sm">Der 168 Stunden Weltrekord von Winterbach</p>

          <div class="row hidden-md hidden-lg hidden-xl">
            <div class="col-xs-12">
              <p class="myp-slider text-uppercase"><br/>Der 168 Stunden Weltrekord von Winterbach</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <app-count-down-timer [end]="'2019-05-29 19:00:00'"></app-count-down-timer>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-3 text-center">
          <a class="btn btn-primary btn-scroll floating-arrow"
             (click)="myScrollService.scrollTo({target: 'content'})"
             id="bottom">
            <i class="fa fa-angle-down"></i>
            <span> Weitere Infos</span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-6 col-lg-6 col-xl-5 mt-4">
          <h3 class="hidden-xs" style="font-size: 1.3rem">Mit freundlicher Unterstützung von</h3>
          <div class="grayscale">
            <ng-container *ngFor="let sponsor of sponsors">
              <a target="_blank" [href]="sponsor.url">
                <img class="img-fluid sponsorsImg" [src]="sponsor.image"
                     [alt]="sponsor.title"/>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img alt="Logo" class="headerLogo hidden-xs" src="../../../../assets/params/images/logo.png"/>
</header>
