<section id="media" class="subsection pt-0">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h3>Berichte</h3>
        <ul class="list-group">

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.rhein-zeitung.de/region/rheinland-pfalz_artikel,-168-stunden-weltrekordversuch-im-dauerfussballspielen-_arid,1967800.html">
              <i class="fa fa-external-link"></i> 168 Stunden: Weltrekordversuch im Dauerfussballspielen</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.rhein-zeitung.de">rhein-zeitung.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="http://lokalo.de/artikel/172498/verrueckter-weltrekordversuch-um-saarland-das-laengste-fussballspiel-der-welt/">
              <i class="fa fa-external-link"></i> Verrückter Weltrekordversuch im Saarland – Das längste Fußballspiel der Welt</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.lokalo.de">lokalo.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.sueddeutsche.de/news/leben/freizeit---sankt-wendel-168-stunden-weltrekordversuch-im-dauerfussballspielen-dpa.urn-newsml-dpa-com-20090101-190428-99-994238">
              <i class="fa fa-external-link"></i> 168 Stunden: Weltrekordversuch im Dauerfußballspielen </a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.sueddeutsche.de">sueddeutsche.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.sr.de/sr/home/nachrichten/regionalnachrichten/regionalnachrichten193090.html">
              <i class="fa fa-external-link"></i> Weltrekordversuch im Dauerkicken</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.sr.de">sr.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.sol.de/news/update/News-Update,354366/Weltrekordversuch-im-Saarland-168-Stunden-Fussball,354434">
              <i class="fa fa-external-link"></i> Weltrekordversuch im Saarland: 168 Stunden Fußball</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.sol.de">sol.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.n-tv.de/regionales/rheinland-pfalz-und-saarland/168-Stunden-Weltrekordversuch-im-Dauerfussballspielen-article20992611.html">
              <i class="fa fa-external-link"></i> 168 Stunden: Weltrekordversuch im Dauerfußballspielen</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.n-tv.de">n-tv.de</a> &ndash; 28.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://wndn.de/winterbach-fussballer-kicken-fuer-einen-guten-zweck-um-den-weltrekord-zu-knacken/?fbclid=IwAR1MzH5szEJkGLILS2L3LmjN91q8I0llsHicrU2VNwf2Ddxqx4CjfCafD3w"><i class="fa fa-external-link"></i> Winterbach: Fußballer kicken für einen guten Zweck um den Weltrekord zu knacken</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.wndn.de">wndn.de</a> &ndash; 03.04.2019</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="http://www.pr-inside.com/de/weltrekordversuch-168-stunden-fussball-im-saarland-r4754941.htm">
              <i class="fa fa-external-link"></i> Weltrekordversuch: 168 Stunden Fußball im Saarland</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.pr-inside.com">pr-inside.com</a> &ndash; 01.04.2019</span>
          </li>


          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.stefan-morsch-stiftung.com/presse/news/rekord-winterbacher-wollen-am-laengsten-kicken/"><i class="fa fa-external-link"></i> Rekord: Winterbacher wollen am längsten Kicken</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.stefan-morsch-stiftung.com">stefan-morsch-stiftung.com</a> &ndash; 25.03.2019
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.rheinpfalz.de/lokal/pirmasens/artikel/spiels-noch-mal-dirk/"><i class="fa fa-external-link"></i> Spiel’s noch mal, Dirk!</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.rheinpfalz.de">rheinpfalz.de</a> &ndash; 09.01.2019
            </span>
          </li>

        </ul>
      </div>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h3>Bildergalerien</h3>
      </div>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1" id="accordion">

        <div class="card" *ngFor="let gallery of galleries">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              {{gallery.title}} ({{gallery.files.length}} Bilder)
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-media-list [mediaGallery]="gallery"></app-media-list>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
