<section id="media" class="subsection pt-0">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h3>Berichte</h3>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://wndn.de/winterbach-fussballer-kicken-fuer-einen-guten-zweck-um-den-weltrekord-zu-knacken/?fbclid=IwAR1MzH5szEJkGLILS2L3LmjN91q8I0llsHicrU2VNwf2Ddxqx4CjfCafD3w"><i class="fa fa-external-link"></i> Winterbach: Fußballer kicken für einen guten Zweck um den Weltrekord zu knacken</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.wndn.de">wndn.de</a> &ndash; 03.04.2019</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a target="_blank" href="https://www.stefan-morsch-stiftung.com/presse/news/rekord-winterbacher-wollen-am-laengsten-kicken/"><i class="fa fa-external-link"></i> Rekord: Winterbacher wollen am längsten Kicken</a>
            <span class="badge badge-primary">
              <a class="text-white" target="_blank" href="https://www.stefan-morsch-stiftung.com">stefan-morsch-stiftung.com</a> &ndash; 03.04.2019
            </span>
          </li>

        </ul>
      </div>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h3>Bildergalerien</h3>
      </div>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1" id="accordion">

        <div class="card" *ngFor="let gallery of galleries">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              {{gallery.title}} ({{gallery.files.length}} Bilder)
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-media-list [mediaGallery]="gallery"></app-media-list>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
