.box-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-part i {
  padding-left: 4rem;
  margin-top: 0;
  padding-top: 0;
}

.box-part div {
  padding-left: 4rem;
}

h4 {
  margin: 0;
}

.supporters {
  margin-top: 3rem;
  margin-bottom: 3rem;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
