<app-sponsoren-liste></app-sponsoren-liste>

<app-partner-list></app-partner-list>

<section id="supporter" class="subsection" style="padding-bottom: 0;padding-top: 5rem; margin-top: 0; background-color: #fff">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12">
        <div class="row">

          <div class="col-xs-10 col-lg-offset-1">

            <h3 style="color: #ff6600">Weltrekordbrecherversucher-Daumendrücker</h3>
            <p class="text-black-50">
              Neben unseren Partner und Sponsoren möchten wir uns auch ausdrücklich bei den unten genannten Personen, Firmen und Vereinen bedanken.
              Egal in welcher Form - wir sind und waren über jede Unterstützung dankbar.
            </p>

            <ul class="supporters text-black-50">
              <li>FC Fulham</li>
              <li>Manchester United</li>
              <li>FC Bayern München</li>
              <li>Weingut Klieber</li>
              <li>HSG Bensheim Auerbach Flames</li>
              <li>Dittgen</li>
              <li>Verla-Pharm</li>
              <li>DK Bow-Factory</li>
              <li>DFB-Stiftung</li>
              <li>Darmstadt 98</li>
              <li>Carlo Sickinger</li>
              <li>Eifelpark Gondorf</li>
              <li>Marvin Plattenhardt</li>
              <li>Haus Gudesberg</li>
              <li>Ministerium des Innern und für Sport Rheinland-Pfalz</li>
              <li>Chris Tall</li>
              <li>Paul Panzer</li>
              <li>Baumwipfelpfad Saarschleife</li>
              <li>Mörsdrf</li>
              <li>Total Tankstelle Bliesen</li>
              <li>Bundeskanzler a.D. Gerhard Schröder</li>
              <li>KostBar am See</li>
              <li>Layenberger</li>
              <li>Borussia Dortmund</li>
              <li>Friedel und Frische GmbH</li>
              <li>Zum Dorfbrunnen</li>
              <li>Saarlandtherme</li>
              <li>Bundeskanzlerin Angela Merkel</li>
              <li>Telekom Baskets Bonn</li>
              <li>Saarländisches Bergbaumuseum</li>
              <li>Böhse Onkelz</li>
              <li>Edgewell personal care</li>
              <li>Kevin Spengler</li>
              <li>Neckermann Reisen</li>
              <li>Samantha Gard</li>
              <li>Landtagspräsident Stefan Toskani</li>
              <li>Koi Bad und Sauna</li>
              <li>Dittgen</li>
              <li>Schatzkiste</li>
              <li>Max und Moritz</li>
              <li>Therme Sinsheim</li>
              <li>VfR Aalen</li>
              <li>Lambert Reisen</li>
              <li>Karlsruhe SC</li>
              <li>SV Werder Bremen</li>
              <li>Seehotel Weingärtner</li>
              <li>Schmidt Küchen</li>
              <li>Calypso</li>
              <li>Theater Überzwerg</li>
              <li>S&L</li>
              <li>Wolfgang Niedecken</li>
              <li>Eckhart von Hirschhausen</li>
              <li>Markus Warsmeier</li>
              <li>Pasteria</li>
              <li>Saarländischer Runfunk</li>
              <li>Ministerium für Umwelt und Verbraucherschutz</li>
              <li>Ministerium für Wirtschaft, Arbeit, Energie und Verkehr</li>
              <li>Ministerium für Soziales, Gesundheit, Frauen und Familie</li>
              <li>Landtagspräsident Stephan Toscani</li>
              <li>Josephine Ortleb</li>
              <li>Heiko Bähr</li>
              <li>Tobias Hans</li>
              <li>Saartoto</li>
              <li>Christian Petry</li>
              <li>Fabian Stark</li>
              <li>Josef Huy</li>
              <li>Neckermann Reisen</li>
              <li>Schmidt Küchen</li>
              <li>SV Elversberg</li>
              <li>Klaus Fischer Fußballschule</li>
              <li>Mombergstube Gronig</li>
              <li>Düsseldorfer EG</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


