.box-part{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-part i {
  padding-left: 4rem;
  margin-top: 0;
  padding-top: 0;
}

 .box-part div {
  padding-left: 4rem;
}

h4 {
  margin: 0;
}
