<div class="content-box">
  <h3>Neuigkeiten</h3>

  <div class="card text-black-50">
    <div class="card-header" style="color: #ff6600; font-size: 1.5rem">
      <div class="card-title pull-left">Partnerschaft mit DFB/Fussball.de</div>
      <div class="card-subtitle pull-right">08.02.2019</div>
    </div>
    <div class="text-center">
      <img src="/assets/images/sponsoren/dfb-fussballde.jpg" class="img-fluid"/>
    </div>
    <div class="p-3" style="color: #000000">
      <p>Für unsere Mammutaufgabe hat sich die erste prominente Partnerschaft ergeben. Der DFB unterstützt uns über sein
        zentrales Fußballportal für den Bereich des Amateurfußballs.
        Neben redaktioneller Berichterstattung über fussball.de, wird während unseres Weltrekordversuchs ein Infostand
        gestellt und eine der Mannschaften wird zudem mit Trikots versorgt.</p>
      <p>
        Hierfür vorab schon mal unseren herzlichen Dank, unsere Körpertemperatur schleicht schon mal in Richtung
        (Fußball&ndash;)Fieber
        <i class="fa fa-smile-o"></i>
      </p>
    </div>
  </div>

</div>

