<div class="content-box">
  <h3>Neuigkeiten</h3>

  <perfect-scrollbar style="max-height: 75vh;" [config]="config">
    <div class="card text-black-50">
      <div class="card-header d-flex justify-content-between" style="color: #ff6600;">
        <div>Unser neuer Partner: Volkswagen Autohaus Schmidt</div>
        <div>24.03.2019</div>
      </div>
      <div class="text-center">
        <img style="margin-top: 25px" src="/assets/images/sponsoren/Schmidt_GmbH_Logo.png" class="img-fluid"/>
      </div>
      <div class="p-3" style="color: #000000">
        <p>
          Frei nach der Unternehmensphilosophie „Wir bringen Sie in Bewegung“ hat sich das VW-Autohaus Schmidt GmbH aus
          St. Wendel entschieden, uns als Haupt- und Trikotsponsor zu unterstützen. Wir freuen uns diesen zuverlässigen
          Partner an unserer Seite zu haben und sind davon überzeugt, dem Unternehmensmotto 168 Stunden folgen zu können.
        </p>
      </div>


      <div class="card-header d-flex justify-content-between" style="color: #ff6600;">
        <div>Partnerschaft mit DFB/Fussball.de</div>
        <div>08.02.2019</div>
      </div>
      <div class="text-center">
        <img src="/assets/images/sponsoren/dfb-fussballde.jpg" class="img-fluid"/>
      </div>
      <div class="p-3" style="color: #000000">
        <p>Für unsere Mammutaufgabe hat sich die erste prominente Partnerschaft ergeben. Der DFB unterstützt uns über sein
          zentrales Fußballportal für den Bereich des Amateurfußballs.
          Neben redaktioneller Berichterstattung über fussball.de, wird während unseres Weltrekordversuchs ein Infostand
          gestellt und eine der Mannschaften wird zudem mit Trikots versorgt.</p>
        <p>
          Hierfür vorab schon mal unseren herzlichen Dank, unsere Körpertemperatur schleicht schon mal in Richtung
          (Fußball&ndash;)Fieber
          <i class="fa fa-smile-o"></i>
        </p>
      </div>
    </div>
  </perfect-scrollbar>

</div>

