.our-team {
  transition: all 0.2s linear;
  background-image: url('../../../assets/images/Stadium.jpeg'); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 80%), url('../../../assets/images/Stadium.jpeg');
  background-size: cover;
}

/*
.our-team img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}*/

.our-team .team-content {
  background: rgba(0, 0, 0, .6);
  font-size: 1rem;
}

.our-team .title {
  font-weight: bold;
  color: #fff;
  font-size: .8rem;
}
.our-team .post {
  display: block;
  font-weight: 700;
  font-size: .8rem;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
