<script>
  $('.carousel').carousel();
</script>

<!-- Spieler -->
<section id="spieler" class="subsection" style="border-bottom: 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-1">
        <h3><i class="fa fa-user-circle-o"></i> Teilnehmende Spieler</h3>
        <p>
          Folgende Spieler wollen sich beim Weltrekordversuch 2019 im Guinessbuch der Rekorde verewigen:
        </p>
        <h4 class="pt-5"><img src="/assets/images/logo-sfw.gif" style="height: 3rem;margin-right: .5rem;"/> Sportfreunde Winterbach
        </h4>
      </div>

      <div class="col-md-12">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of [0,1,2]; let first = first"
                 [ngClass]="first ? 'active' : ''">
              <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 pt-1"
                     *ngFor="let player of wtbPlayers | spielerFilter : item : 6">
                  <div class="our-team">
                    <div class="pic">
                      <img [src]="player.image" alt="{{player.firstName}} {{player.lastName}}">
                    </div>
                    <div class="team-content py-5">
                      <h3 class="title">{{player.firstName}} {{player.lastName}} ({{player.age}})</h3>
                      <span class="post">{{player.position}}</span>
                      <span class="post">{{player.club}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active">1</li>
            <li data-target="#carousel" data-slide-to="1">2</li>
            <li data-target="#carousel" data-slide-to="2">3</li>
          </ol>
        </div>

        <hr style="background-color: #fff; opacity: .7; width: 80%"/>

      </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-1">
        <h4><img src="/assets/images/logo-tgifec.png" style="height: 3rem;margin-right: .5rem;"/> &bdquo;Thank God it´s
          Friday&rdquo; - Event Club</h4>
        <p>Die Spielerliste ist in Arbeit ...</p>
      </div>


      <div class="col-md-12">

        <!--<div id="carousel2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of [0,1,2]; let first = first"
                 [ngClass]="first ? 'active' : ''">
              <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 pt-1" *ngFor="let player of tgifecPlayers | spielerFilter : item : 6">
                  <div class="our-team">
                    <div class="pic">
                      <img [src]="player.image" alt="{{player.firstName}} {{player.lastName}}">
                    </div>
                    <div class="team-content">
                      <h3 class="title">{{player.firstName}} {{player.lastName}}</h3>
                      <span class="post">{{player.position}}</span>
                      <span class="post">{{player.club}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ol class="carousel-indicators">
            <li data-target="#carousel2" data-slide-to="0" class="active">1</li>
            <li data-target="#carousel2" data-slide-to="1">2</li>
            <li data-target="#carousel2" data-slide-to="2">3</li>
          </ol>
        </div>-->
        <hr style="background-color: #fff; opacity: .7; width: 80%"/>

      </div>

    </div>
  </div>


</section><!-- //Spieler-->
