img.active {
  border: 4px solid #ff8939;
}

a {
  cursor: pointer;
}

.images {
  width: 100%;
}

.thumbnails {
  width: 20%;
}

.img-thumbnail {
  width: 25vh;
}

@media (min-width: 560px) {
  .img-thumbnail {
    height: 15vh;
  }
}
