h1 {
  font-size: 3rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

.countdown_part h1 {
  line-height: 2rem !important;
}

.countdown_part p {
  margin-bottom:0
}

.countdown_part {
  border-right: 1px solid rgba(255, 255, 255, .7);
}
